
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


.header {
    background-color: #111; 
    color: #fff;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #f39c12; 
}

#img-carrito {
    width: 55px;
    height: 55px;
    margin-top: 9px;
    cursor: pointer;
}


.products {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.products h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 40px;
}

.products-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: space-around;
}

.product {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #f39c12; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.product-txt {
    text-align: left;
    margin-top: 10px;
}

.product h3 {
    color: #111;
    font-size: 20px;
}

.product .precio {
    color: #e74c3c;
    font-weight: bold;
    font-size: 18px;
}

.agregar-carrito {
    display: inline-block;
    margin-top: 10px;
    background-color: #f39c12; 
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.agregar-carrito:hover {
    background-color: #22e643; 
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.footer h3 {
    font-size: 18px;
    color: #f39c12;
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #f39c12;
}


.btn-1, .btn-2 {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-1:hover, .btn-2:hover {
    background-color: #e67e22;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
